In [2]:
from pyrqa.time_series import TimeSeries
from pyrqa.settings import Settings
from pyrqa.analysis_type import Classic
from pyrqa.neighbourhood import FixedRadius
from pyrqa.metric import EuclideanMetric
from pyrqa.computation import RQAComputation
data_points = [0.1, 0.5, 1.3, 0.7, 0.8, 1.4, 1.6, 1.2, 0.4, 1.1, 0.8, 0.2, 1.3]
time_series = TimeSeries(data_points,
                         embedding_dimension=2,
                         time_delay=2)
settings = Settings(time_series,
                    analysis_type=Classic,
                    neighbourhood=FixedRadius(0.65),
                    similarity_measure=EuclideanMetric,
                    theiler_corrector=1)
computation = RQAComputation.create(settings,
                                    verbose=True)
result = computation.run()
# result.min_diagonal_line_length = 2
# result.min_vertical_line_length = 2
# result.min_white_vertical_line_length = 2
print(result)

[Platform 'Apple']
Vendor: Apple
Version: OpenCL 1.2 (Feb 28 2021 03:51:16)
Profile: FULL_PROFILE
Extensions: cl_APPLE_SetMemObjectDestructor cl_APPLE_ContextLoggingFunctions cl_APPLE_clut cl_APPLE_query_kernel_names cl_APPLE_gl_sharing cl_khr_gl_event


[Device 'Apple M1']
Vendor: Intel
Type: 2
Version: OpenCL 1.2
Profile: FULL_PROFILE
Max Clock Frequency: 2400
Global Mem Size: 8589934592
Address Bits: 64
Max Compute Units: 8
Max Work Group Size: 1024
Max Work Item Dimensions: 3
Max Work Item Sizes: [1024, 1, 1]
Local Mem Size: 32768
Max Mem Alloc Size: 2147483648
Extensions: cl_APPLE_SetMemObjectDestructor cl_APPLE_ContextLoggingFunctions cl_APPLE_clut cl_APPLE_query_kernel_names cl_APPLE_gl_sharing cl_khr_gl_event cl_khr_fp64 cl_khr_global_int32_base_atomics cl_khr_global_int32_extended_atomics cl_khr_local_int32_base_atomics cl_khr_local_int32_extended_atomics cl_khr_byte_addressable_store cl_khr_int64_base_atomics cl_khr_int64_extended_atomics cl_khr_3d_image_writes cl_khr_image2d_from_buffer cl_APPLE_fp64_basic_ops cl_APPLE_fixed_alpha_channel_orders cl_APPLE_biased_fixed_point_image_formats cl_APPLE_command_queue_priority


RQA Result:
===========

Minimum diagonal line length (L_min): 2
Minimum vertical line length (V_min): 2
Minimum white vertical line length (W_min): 2

Recurrence rate (RR): 0.371901
Determinism (DET): 0.411765
Average diagonal line length (L): 2.333333
Longest diagonal line length (L_max): 3
Divergence (DIV): 0.333333
Entropy diagonal lines (L_entr): 0.636514
Laminarity (LAM): 0.400000
Trapping time (TT): 2.571429
Longest vertical line length (V_max): 4
Entropy vertical lines (V_entr): 0.955700
Average white vertical line length (W): 2.538462
Longest white vertical line length (W_max): 6
Longest white vertical line length inverse (W_div): 0.166667
Entropy white vertical lines (W_entr): 0.839796

Ratio determinism / recurrence rate (DET/RR): 1.107190
Ratio laminarity / determinism (LAM/DET): 0.971429

In [9]:
from numpy import asarray
from sklearn.preprocessing import LabelEncoder
# define data
data = asarray([['cat'], ['dog'], ['turtle'], ['fish'], ['cat'], ['cat'], ['dog'], ['turtle'], ['fish'], ['cat']])
print(data)
# define one hot encoding
encoder = LabelEncoder()
# transform data
coded = encoder.fit_transform(data)
print(coded)

[['cat']
 ['dog']
 ['turtle']
 ['fish']
 ['cat']
 ['cat']
 ['dog']
 ['turtle']
 ['fish']
 ['cat']]
[0 1 3 2 0 0 1 3 2 0]

In [89]:
encoder.transform(data[data.team_id == data.team_id.unique()[1]]['Primary code '])

array([0, 5, 5, 8, 8, 8, 8, 5, 8, 8, 5, 8, 8, 8, 3, 8, 7, 8, 8, 5, 8, 5,
       8, 8, 8, 3, 5, 5, 8, 0, 0, 0, 8, 8, 8, 8, 6, 0, 1, 8, 8, 8, 8, 8,
       8, 8, 8, 8, 8, 7, 0, 0, 8, 8, 8, 8, 8, 8, 8, 8, 1, 7, 7, 6, 7, 7])

In [90]:
time_series_y.data

array([0., 5., 5., 8., 8., 8., 8., 5., 8., 8., 5., 8., 8., 8., 3., 8., 7.,
       8., 8., 5., 8., 5., 8., 8., 8., 3., 5., 5., 8., 0., 0., 0., 8., 8.,
       8., 8., 6., 0., 1., 8., 8., 8., 8., 8., 8., 8., 8., 8., 8., 7., 0.,
       0., 8., 8., 8., 8., 8., 8., 8., 8., 1., 7., 7., 6., 7., 7.],
      dtype=float32)

In [85]:
from pyrqa.analysis_type import Cross
data_points_x = encoder.transform(data[data.team_id == data.team_id.unique()[0]]['Primary code '])
time_series_x = TimeSeries(data_points_x,
                           embedding_dimension=1,
                           time_delay=0)
data_points_y = encoder.transform(data[data.team_id == data.team_id.unique()[1]]['Primary code '])
time_series_y = TimeSeries(data_points_y,
                           embedding_dimension=1,
                           time_delay=0)
time_series = (time_series_x,
               time_series_x)
settings = Settings(time_series,
                    analysis_type=Cross,
                    neighbourhood=FixedRadius(0.5),
                    similarity_measure=EuclideanMetric,
                    theiler_corrector=0)
computation = RQAComputation.create(settings,
                                    verbose=True)
result = computation.run()
result.min_diagonal_line_length = 2
result.min_vertical_line_length = 2
result.min_white_vertical_line_length = 2
print(result)

[Platform 'Apple']
Vendor: Apple
Version: OpenCL 1.2 (Feb 28 2021 03:51:16)
Profile: FULL_PROFILE
Extensions: cl_APPLE_SetMemObjectDestructor cl_APPLE_ContextLoggingFunctions cl_APPLE_clut cl_APPLE_query_kernel_names cl_APPLE_gl_sharing cl_khr_gl_event


[Device 'Apple M1']
Vendor: Intel
Type: 2
Version: OpenCL 1.2
Profile: FULL_PROFILE
Max Clock Frequency: 2400
Global Mem Size: 8589934592
Address Bits: 64
Max Compute Units: 8
Max Work Group Size: 1024
Max Work Item Dimensions: 3
Max Work Item Sizes: [1024, 1, 1]
Local Mem Size: 32768
Max Mem Alloc Size: 2147483648
Extensions: cl_APPLE_SetMemObjectDestructor cl_APPLE_ContextLoggingFunctions cl_APPLE_clut cl_APPLE_query_kernel_names cl_APPLE_gl_sharing cl_khr_gl_event cl_khr_fp64 cl_khr_global_int32_base_atomics cl_khr_global_int32_extended_atomics cl_khr_local_int32_base_atomics cl_khr_local_int32_extended_atomics cl_khr_byte_addressable_store cl_khr_int64_base_atomics cl_khr_int64_extended_atomics cl_khr_3d_image_writes cl_khr_image2d_from_buffer cl_APPLE_fp64_basic_ops cl_APPLE_fixed_alpha_channel_orders cl_APPLE_biased_fixed_point_image_formats cl_APPLE_command_queue_priority


CRQA Result:
============

Minimum diagonal line length (L_min): 2
Minimum vertical line length (V_min): 2
Minimum white vertical line length (W_min): 2

Recurrence rate (RR): 0.274539
Determinism (DET): 0.544962
Average diagonal line length (L): 3.076453
Longest diagonal line length (L_max): 82
Divergence (DIV): 0.012195
Entropy diagonal lines (L_entr): 1.244906
Laminarity (LAM): 0.686349
Trapping time (TT): 4.087097
Longest vertical line length (V_max): 7
Entropy vertical lines (V_entr): 1.736197
Average white vertical line length (W): 8.269871
Longest white vertical line length (W_max): 61
Longest white vertical line length inverse (W_div): 0.016393
Entropy white vertical lines (W_entr): 2.387462

Ratio determinism / recurrence rate (DET/RR): 1.985008
Ratio laminarity / determinism (LAM/DET): 1.259443

In [86]:
from pyrqa.computation import RPComputation
from pyrqa.image_generator import ImageGenerator
computation = RPComputation.create(settings)
result = computation.run()
ImageGenerator.save_recurrence_plot(result.recurrence_matrix_reverse,
                                    'cross_recurrence_plot.png')

In [87]:
result.recurrence_matrix_reverse

array([[1, 1, 1, ..., 1, 1, 1],
       [1, 1, 1, ..., 1, 1, 1],
       [1, 1, 1, ..., 1, 1, 1],
       ...,
       [1, 1, 1, ..., 1, 1, 1],
       [1, 1, 1, ..., 1, 1, 1],
       [1, 1, 1, ..., 1, 1, 1]], dtype=uint8)

In [33]:
import pandas as pd

In [115]:
data = pd.read_csv('/Users/amin/Downloads/Master Coded Data.xlsx - Chats.csv')

In [40]:
data.team_id.unique()[0]

'179706_162850_162936_182908'

In [42]:
data[data.team_id == data.team_id.unique()[0]]['Primary Sub-code']

0      SMC-R
1      SMC-R
2      SMC-R
3      SMC-R
4       CM-G
       ...
77     SMC-R
78    SESU-A
79     SMC-R
80     SMC-R
81     SMC-R
Name: Primary Sub-code, Length: 82, dtype: object

In [80]:
from numpy import asarray
from sklearn.preprocessing import LabelEncoder
# define data
a = data['Primary code ']
# define one hot encoding
encoder = LabelEncoder()
# transform data
encoder.fit(a)
print(encoder.transform(data[data.team_id == data.team_id.unique()[0]]['Primary code ']))

[6 6 6 6 1 8 6 5 0 8 0 6 6 5 5 8 8 8 8 3 3 8 5 8 8 8 7 8 7 8 8 8 8 8 8 5 8
 5 8 0 8 0 7 7 0 8 8 8 8 8 8 8 0 8 8 8 8 8 1 7 8 8 8 7 8 5 5 1 8 1 8 5 7 0
 6 7 6 6 5 6 6 6]

In [93]:
len(data['Person-ID (mellon-ID)'].unique())

537

In [116]:
scores = pd.read_csv('/Users/amin/Downloads/CPS_scores.csv')

In [122]:
data = data.rename(columns={'Person-ID (mellon-ID)' : 'mellon_id'})

In [123]:
data

,task,team_id,mellon_id,event_start_time,event_end_time,event_result,Primary code,Primary Sub-code,Secondary Code,Secondary Sub-code,...,Candidate Feature 3,Candidate Feature 4,Party Venue Feature 1,Party Venue Feature 2,Party Venue Feature 3,Party Venue Feature 4,Professor Feature 1,Professor Feature 2,Professor Feature 3,Professor Feature 4
0,apartment,179706_162850_162936_182908,162850,2019-09-28 17:14:21+00:00,2019-09-28 17:14:21+00:00,Hi,SMC,SMC-R,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,apartment,179706_162850_162936_182908,182908,2019-09-28 17:14:39+00:00,2019-09-28 17:14:39+00:00,hey,SMC,SMC-R,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,apartment,179706_162850_162936_182908,162936,2019-09-28 17:14:47+00:00,2019-09-28 17:14:47+00:00,Hey,SMC,SMC-R,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,apartment,179706_162850_162936_182908,179706,2019-09-28 17:14:48+00:00,2019-09-28 17:14:48+00:00,hola,SMC,SMC-R,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,apartment,179706_162850_162936_182908,162850,2019-09-28 17:14:56+00:00,2019-09-28 17:14:56+00:00,Is everyone here?,CM,CM-G,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7706,Candidate,190690_163721_178949_190068,186557,2019-10-01 23:38:41+00:00,NaN,so,SSI,SSI-U,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7707,Candidate,190690_163721_178949_190069,186557,2019-10-01 23:38:43+00:00,NaN,CBA?,CM,CM-S,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7708,Candidate,190690_163721_178949_190070,165170,2019-10-01 23:38:46+00:00,NaN,yeah,SN,SN-A,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7709,Candidate,190690_163721_178949_190071,190696,2019-10-01 23:38:48+00:00,NaN,I believe so,SESU,SESU-A,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7710,Candidate,190690_163721_178949_190072,183614,2019-10-01 23:38:53+00:00,NaN,yes :),SN,SN-A,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [125]:
data_score = data.merge(scores, on=['mellon_id'], how = 'inner')

In [142]:
data_score

,task_x,team_id,mellon_id,event_start_time,event_end_time,event_result,Primary code,Primary Sub-code,Secondary Code,Secondary Sub-code,...,Professor Feature 2,Professor Feature 3,Professor Feature 4,initial,revise,session_id,task_y,ini_score,revise_score,score_change
0,apartment,179706_162850_162936_182908,162850,2019-09-28 17:14:21+00:00,2019-09-28 17:14:21+00:00,Hi,SMC,SMC-R,NaN,NaN,...,NaN,NaN,NaN,ABC,ABC,7351_apartment,apartment,0,1,1
1,apartment,179706_162850_162936_182908,162850,2019-09-28 17:14:56+00:00,2019-09-28 17:14:56+00:00,Is everyone here?,CM,CM-G,NaN,NaN,...,NaN,NaN,NaN,ABC,ABC,7351_apartment,apartment,0,1,1
2,apartment,179706_162850_162936_182908,162850,2019-09-28 17:15:44+00:00,2019-09-28 17:15:44+00:00,Lets wait to see what the instructor says,CE,CEC-S,NaN,NaN,...,NaN,NaN,NaN,ABC,ABC,7351_apartment,apartment,0,1,1
3,apartment,179706_162850_162936_182908,162850,2019-09-28 17:21:04+00:00,2019-09-28 17:21:04+00:00,Hey,SMC,SMC-R,NaN,NaN,...,NaN,NaN,NaN,ABC,ABC,7351_apartment,apartment,0,1,1
4,apartment,179706_162850_162936_182908,162850,2019-09-28 17:21:30+00:00,2019-09-28 17:21:30+00:00,A B C,SSI,SSI-O,NaN,NaN,...,NaN,NaN,NaN,ABC,ABC,7351_apartment,apartment,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7757,Candidate,190690_163721_178949_190053,165170,2019-10-01 23:36:06+00:00,NaN,o snaap,SMC,SMC-R,NaN,NaN,...,NaN,NaN,NaN,BAC,CBA,7367_candidate,candidate,1,0,-1
7758,Candidate,190690_163721_178949_190054,165170,2019-10-01 23:36:16+00:00,NaN,im shook can yall post yours,CE,CEC-S,NaN,NaN,...,NaN,NaN,NaN,BAC,CBA,7367_candidate,candidate,1,0,-1
7759,Candidate,190690_163721_178949_190058,165170,2019-10-01 23:37:05+00:00,NaN,wait it is suppose to be this way or is it a g...,SSI,SSI-U,NaN,NaN,...,NaN,NaN,NaN,BAC,CBA,7367_candidate,candidate,1,0,-1
7760,Candidate,190690_163721_178949_190065,165170,2019-10-01 23:38:35+00:00,NaN,"I think w/ the new info, I think C is better t...",SSI,SSI-O,NaN,NaN,...,NaN,NaN,NaN,BAC,CBA,7367_candidate,candidate,1,0,-1
7761,Candidate,190690_163721_178949_190070,165170,2019-10-01 23:38:46+00:00,NaN,yeah,SN,SN-A,NaN,NaN,...,NaN,NaN,NaN,BAC,CBA,7367_candidate,candidate,1,0,-1

In [146]:
d1 = data_score.groupby(by=['team_id', 'mellon_id'], as_index=False).agg({'revise_score': 'mean'})

In [147]:
d2 = d1.groupby(by=['team_id'], as_index=False).agg({'revise_score': 'mean'})

In [154]:
d3 = data_score[['task_x', 'team_id', 'mellon_id', 'Primary code ']].merge(d2, on = ['team_id'])

In [156]:
np.mean(scores['revise_score'])

0.40671641791044777

In [157]:
mean = np.mean(d3['revise_score'])
high_perf = (d3['revise_score'] > mean).astype(int)

In [159]:
d3['high_performance'] = high_perf

In [160]:
d3

,task_x,team_id,mellon_id,Primary code,revise_score,high_performance
0,apartment,179706_162850_162936_182908,162850,SMC,1.0,1
1,apartment,179706_162850_162936_182908,162850,CM,1.0,1
2,apartment,179706_162850_162936_182908,162850,CE,1.0,1
3,apartment,179706_162850_162936_182908,162850,SMC,1.0,1
4,apartment,179706_162850_162936_182908,162850,SSI,1.0,1
...,...,...,...,...,...,...
7757,Candidate,190690_163721_178949_190053,165170,SMC,0.0,0
7758,Candidate,190690_163721_178949_190054,165170,CE,0.0,0
7759,Candidate,190690_163721_178949_190058,165170,SSI,0.0,0
7760,Candidate,190690_163721_178949_190065,165170,SSI,0.0,0
7761,Candidate,190690_163721_178949_190070,165170,SN,0.0,0

In [163]:
d3.to_csv('codes_scores_merged.csv')