In [39]:
import pandas as pd
import numpy as np

In [40]:
data = pd.read_csv('./data/CPS_Chat_Data_F19_20200129.xlsx - uci_data_collection_completed_a.csv')

In [41]:
data = data[data.event_name == 'chat']

In [42]:
data.columns

Index(['session_id', 'team_id (mellon_id)', 'player_id', 'attempt_id',
       'session_ext_data', 'event_name', 'event_start_time', 'event_end_time',
       'event_by', 'event_to', 'event_result', 'event_location',
       'event_ext_data', 'session_time', 'task'],
      dtype='object')

In [43]:
coded_data = pd.read_csv('./data/Master Coded Data.xlsx - Chats.csv')

In [44]:
coded_data.columns

Index(['task', 'team_id', 'Person-ID (mellon-ID)', 'event_start_time',
       'event_end_time', 'event_result', 'Primary code ', 'Primary Sub-code',
       'Secondary Code', 'Secondary  Sub-code', 'Apartment Feature 1',
       'Apartment Feature 2', 'Apartment Feature 3', 'Apartment Feature 4 ',
       'Candidate Feature 1', 'Candidate Feature 2', 'Candidate Feature 3',
       'Candidate Feature 4', 'Party Venue Feature 1', 'Party Venue Feature 2',
       'Party Venue Feature 3', 'Party Venue Feature 4', 'Professor Feature 1',
       'Professor Feature 2', 'Professor Feature 3', 'Professor Feature 4'],
      dtype='object')

In [45]:
coded_data = coded_data.rename(columns={'Person-ID (mellon-ID)' : 'mellon_id'})
data = data.rename(columns={'event_by' : 'mellon_id', 'team_id (mellon_id)':'team_id'})

In [46]:
coded_data.head()

,task,team_id,mellon_id,event_start_time,event_end_time,event_result,Primary code,Primary Sub-code,Secondary Code,Secondary Sub-code,...,Candidate Feature 3,Candidate Feature 4,Party Venue Feature 1,Party Venue Feature 2,Party Venue Feature 3,Party Venue Feature 4,Professor Feature 1,Professor Feature 2,Professor Feature 3,Professor Feature 4
0,apartment,179706_162850_162936_182908,162850,2019-09-28 17:14:21+00:00,2019-09-28 17:14:21+00:00,Hi,SMC,SMC-R,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,apartment,179706_162850_162936_182908,182908,2019-09-28 17:14:39+00:00,2019-09-28 17:14:39+00:00,hey,SMC,SMC-R,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,apartment,179706_162850_162936_182908,162936,2019-09-28 17:14:47+00:00,2019-09-28 17:14:47+00:00,Hey,SMC,SMC-R,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,apartment,179706_162850_162936_182908,179706,2019-09-28 17:14:48+00:00,2019-09-28 17:14:48+00:00,hola,SMC,SMC-R,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,apartment,179706_162850_162936_182908,162850,2019-09-28 17:14:56+00:00,2019-09-28 17:14:56+00:00,Is everyone here?,CM,CM-G,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
merged_data = data.merge(coded_data[['mellon_id', 'event_result', 'event_start_time', 'event_end_time', 'Primary code ']], on = ['mellon_id', 'event_result', 'event_start_time', 'event_end_time'], how = 'left')

In [48]:
merged_data[merged_data.isna().any(axis=1)]

,session_id,team_id,player_id,attempt_id,session_ext_data,event_name,event_start_time,event_end_time,mellon_id,event_to,event_result,event_location,event_ext_data,session_time,task,Primary code
0,7343_apartment,,"{'userID1': '163929', 'nickname1': 'jessica', ...",1,"{'attempt': '1', 'n_player': '4', 'team_assemb...",chat,2019-09-28 17:12:43+00:00,2019-09-28 17:12:43+00:00,163793,others,Hello everyone!,slide0-step0,{},0,apartment,NaN
10,7298_PartyVenue,163093_164591_173442_202618,"{'userID1': '202618', 'nickname1': 'bean boi',...",1,"{'attempt': '1', 'n_player': '4', 'team_assemb...",chat,2019-09-28 17:12:12+00:00,2019-09-28 17:12:12+00:00,202618,others,yeah lol,slide0-step0,{},54,PartyVenue,NaN
19,7298_PartyVenue,163093_164591_173442_202618,"{'userID1': '202618', 'nickname1': 'bean boi',...",1,"{'attempt': '1', 'n_player': '4', 'team_assemb...",chat,2019-09-28 17:12:49+00:00,2019-09-28 17:12:49+00:00,173442,others,aight,slide0-step0,{},91,PartyVenue,NaN
30,7298_PartyVenue,163093_164591_173442_202618,"{'userID1': '202618', 'nickname1': 'bean boi',...",1,"{'attempt': '1', 'n_player': '4', 'team_assemb...",chat,2019-09-28 17:13:56+00:00,2019-09-28 17:13:56+00:00,173442,others,there's only 2 min left on the intro page anyways,slide0-step0,{},158,PartyVenue,NaN
33,7298_PartyVenue,163093_164591_173442_202618,"{'userID1': '202618', 'nickname1': 'bean boi',...",1,"{'attempt': '1', 'n_player': '4', 'team_assemb...",chat,2019-09-28 17:14:09+00:00,2019-09-28 17:14:09+00:00,173442,others,click the next button,slide0-step0,{},171,PartyVenue,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3662,7376_apartment,179016_191341_C@ss3tte_194334,"{'userID1': '179016', 'nickname1': 'Blair', 'u...",1,"{'attempt': '1', 'n_player': '4', 'team_assemb...",chat,2019-09-28 21:17:30+00:00,2019-09-28 21:17:30+00:00,179016,others,because of the 24 hr maintenance thing and ove...,slide2-step0,{},278,apartment,NaN
3675,7376_apartment,179016_191341_C@ss3tte_194334,"{'userID1': '179016', 'nickname1': 'Blair', 'u...",1,"{'attempt': '1', 'n_player': '4', 'team_assemb...",chat,2019-09-28 21:19:30+00:00,2019-09-28 21:19:30+00:00,194334,others,Maybe?,slide2-step0,{},398,apartment,NaN
3677,7376_apartment,179016_191341_C@ss3tte_194334,"{'userID1': '179016', 'nickname1': 'Blair', 'u...",1,"{'attempt': '1', 'n_player': '4', 'team_assemb...",chat,2019-09-28 21:19:39+00:00,2019-09-28 21:19:39+00:00,194334,others,Yeah same BAC,slide2-step0,{},407,apartment,NaN
3681,7376_apartment,179016_191341_C@ss3tte_194334,"{'userID1': '179016', 'nickname1': 'Blair', 'u...",1,"{'attempt': '1', 'n_player': '4', 'team_assemb...",chat,2019-09-28 21:19:56+00:00,2019-09-28 21:19:56+00:00,194334,others,we're with you then!,slide2-step0,{},424,apartment,NaN
5585,7348_PartyVenue,190566_201352_185680_194531,"{'userID1': '190566', 'nickname1': 'Adrian', '...",1,"{'attempt': '1', 'n_player': '4', 'team_assemb...",chat,2019-10-07 16:25:42+00:00,2019-10-07 16:25:42+00:00,201352,others,10-Oct,slide2-step0,{},800,PartyVenue,NaN

In [49]:
merged_data_clean = merged_data.dropna()

In [50]:
scores = pd.read_csv('./data/CPS_scores.csv')

In [51]:
merged_data_clean_scores = merged_data_clean.merge(scores[['mellon_id','revise_score']], on=['mellon_id'], how = 'left')

In [52]:
merged_data_clean_scores.head()

,session_id,team_id,player_id,attempt_id,session_ext_data,event_name,event_start_time,event_end_time,mellon_id,event_to,event_result,event_location,event_ext_data,session_time,task,Primary code,revise_score
0,7298_PartyVenue,163093_164591_173442_202618,"{'userID1': '202618', 'nickname1': 'bean boi',...",1,"{'attempt': '1', 'n_player': '4', 'team_assemb...",chat,2019-09-28 17:11:18+00:00,2019-09-28 17:11:18+00:00,173442,others,what's up lads,slide0-step0,{},0,PartyVenue,SMC,0
1,7298_PartyVenue,163093_164591_173442_202618,"{'userID1': '202618', 'nickname1': 'bean boi',...",1,"{'attempt': '1', 'n_player': '4', 'team_assemb...",chat,2019-09-28 17:11:26+00:00,2019-09-28 17:11:26+00:00,202618,others,hello,slide0-step0,{},8,PartyVenue,SMC,0
2,7298_PartyVenue,163093_164591_173442_202618,"{'userID1': '202618', 'nickname1': 'bean boi',...",1,"{'attempt': '1', 'n_player': '4', 'team_assemb...",chat,2019-09-28 17:11:29+00:00,2019-09-28 17:11:29+00:00,163093,others,hi its too early for this,slide0-step0,{},11,PartyVenue,SMC,0
3,7298_PartyVenue,163093_164591_173442_202618,"{'userID1': '202618', 'nickname1': 'bean boi',...",1,"{'attempt': '1', 'n_player': '4', 'team_assemb...",chat,2019-09-28 17:11:32+00:00,2019-09-28 17:11:32+00:00,173442,others,bean boi i like ur name,slide0-step0,{},14,PartyVenue,SMC,0
4,7298_PartyVenue,163093_164591_173442_202618,"{'userID1': '202618', 'nickname1': 'bean boi',...",1,"{'attempt': '1', 'n_player': '4', 'team_assemb...",chat,2019-09-28 17:11:35+00:00,2019-09-28 17:11:35+00:00,202618,others,thanks,slide0-step0,{},17,PartyVenue,SMC,0

In [53]:
d1 = merged_data_clean_scores.groupby(by=['session_id', 'mellon_id'], as_index=False).agg({'revise_score': 'mean'})

In [54]:
d2 = d1.groupby(by=['session_id'], as_index=False).agg({'revise_score': 'mean'})

In [55]:
d2

         session_id  revise_score
0    7283_Professor          0.00
1    7285_Professor          0.00
2    7287_Professor          0.00
3    7288_Professor          0.00
4    7289_Professor          0.00
..              ...           ...
124  7376_apartment          0.25
125  7377_apartment          0.00
126  7378_apartment          1.00
127  7380_apartment          2.00
128  7388_apartment          1.00

[129 rows x 2 columns]

In [56]:
merged_data_clean_scores

,session_id,team_id,player_id,attempt_id,session_ext_data,event_name,event_start_time,event_end_time,mellon_id,event_to,event_result,event_location,event_ext_data,session_time,task,Primary code,revise_score
0,7298_PartyVenue,163093_164591_173442_202618,"{'userID1': '202618', 'nickname1': 'bean boi',...",1,"{'attempt': '1', 'n_player': '4', 'team_assemb...",chat,2019-09-28 17:11:18+00:00,2019-09-28 17:11:18+00:00,173442,others,what's up lads,slide0-step0,{},0,PartyVenue,SMC,0
1,7298_PartyVenue,163093_164591_173442_202618,"{'userID1': '202618', 'nickname1': 'bean boi',...",1,"{'attempt': '1', 'n_player': '4', 'team_assemb...",chat,2019-09-28 17:11:26+00:00,2019-09-28 17:11:26+00:00,202618,others,hello,slide0-step0,{},8,PartyVenue,SMC,0
2,7298_PartyVenue,163093_164591_173442_202618,"{'userID1': '202618', 'nickname1': 'bean boi',...",1,"{'attempt': '1', 'n_player': '4', 'team_assemb...",chat,2019-09-28 17:11:29+00:00,2019-09-28 17:11:29+00:00,163093,others,hi its too early for this,slide0-step0,{},11,PartyVenue,SMC,0
3,7298_PartyVenue,163093_164591_173442_202618,"{'userID1': '202618', 'nickname1': 'bean boi',...",1,"{'attempt': '1', 'n_player': '4', 'team_assemb...",chat,2019-09-28 17:11:32+00:00,2019-09-28 17:11:32+00:00,173442,others,bean boi i like ur name,slide0-step0,{},14,PartyVenue,SMC,0
4,7298_PartyVenue,163093_164591_173442_202618,"{'userID1': '202618', 'nickname1': 'bean boi',...",1,"{'attempt': '1', 'n_player': '4', 'team_assemb...",chat,2019-09-28 17:11:35+00:00,2019-09-28 17:11:35+00:00,202618,others,thanks,slide0-step0,{},17,PartyVenue,SMC,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7363,7371_candidate,Isabella_195466_187876_180275,"{'userID1': '187876', 'nickname1': 'Sabrina', ...",1,"{'attempt': '1', 'n_player': '4', 'team_assemb...",chat,2019-10-03 23:18:38+00:00,2019-10-03 23:18:38+00:00,Isabella,others,yes,slide2-step0,{},714,candidate,SN,0
7364,7371_candidate,Isabella_195466_187876_180275,"{'userID1': '187876', 'nickname1': 'Sabrina', ...",1,"{'attempt': '1', 'n_player': '4', 'team_assemb...",chat,2019-10-03 23:18:43+00:00,2019-10-03 23:18:43+00:00,180275,others,I agree,slide2-step0,{},719,candidate,SN,0
7365,7371_candidate,Isabella_195466_187876_180275,"{'userID1': '187876', 'nickname1': 'Sabrina', ...",1,"{'attempt': '1', 'n_player': '4', 'team_assemb...",chat,2019-10-03 23:18:54+00:00,2019-10-03 23:18:54+00:00,Isabella,others,"okay, we're good to submit then ?",slide2-step0,{},730,candidate,CE,0
7366,7371_candidate,Isabella_195466_187876_180275,"{'userID1': '187876', 'nickname1': 'Sabrina', ...",1,"{'attempt': '1', 'n_player': '4', 'team_assemb...",chat,2019-10-03 23:18:55+00:00,2019-10-03 23:18:55+00:00,195466,others,yes,slide2-step0,{},731,candidate,SN,0
7367,7371_candidate,Isabella_195466_187876_180275,"{'userID1': '187876', 'nickname1': 'Sabrina', ...",1,"{'attempt': '1', 'n_player': '4', 'team_assemb...",chat,2019-10-03 23:19:07+00:00,2019-10-03 23:19:07+00:00,180275,others,12 min left lol,slide2-step0,{},743,candidate,CM,0

In [59]:
d3 = merged_data_clean_scores[['session_id', 'mellon_id', 'player_id', 'event_result', 'task', 'Primary code ', 'event_start_time']].merge(d2, on = ['session_id'])

In [60]:
d3.head()

,session_id,mellon_id,player_id,event_result,task,Primary code,event_start_time,revise_score
0,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",what's up lads,PartyVenue,SMC,2019-09-28 17:11:18+00:00,0.0
1,7298_PartyVenue,202618,"{'userID1': '202618', 'nickname1': 'bean boi',...",hello,PartyVenue,SMC,2019-09-28 17:11:26+00:00,0.0
2,7298_PartyVenue,163093,"{'userID1': '202618', 'nickname1': 'bean boi',...",hi its too early for this,PartyVenue,SMC,2019-09-28 17:11:29+00:00,0.0
3,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",bean boi i like ur name,PartyVenue,SMC,2019-09-28 17:11:32+00:00,0.0
4,7298_PartyVenue,202618,"{'userID1': '202618', 'nickname1': 'bean boi',...",thanks,PartyVenue,SMC,2019-09-28 17:11:35+00:00,0.0

In [61]:
mean = np.mean(d3['revise_score'])
high_perf = (d3['revise_score'] > mean).astype(int)

In [62]:
d3['high_performance'] = high_perf

In [63]:
d3.head()

,session_id,mellon_id,player_id,event_result,task,Primary code,event_start_time,revise_score,high_performance
0,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",what's up lads,PartyVenue,SMC,2019-09-28 17:11:18+00:00,0.0,0
1,7298_PartyVenue,202618,"{'userID1': '202618', 'nickname1': 'bean boi',...",hello,PartyVenue,SMC,2019-09-28 17:11:26+00:00,0.0,0
2,7298_PartyVenue,163093,"{'userID1': '202618', 'nickname1': 'bean boi',...",hi its too early for this,PartyVenue,SMC,2019-09-28 17:11:29+00:00,0.0,0
3,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",bean boi i like ur name,PartyVenue,SMC,2019-09-28 17:11:32+00:00,0.0,0
4,7298_PartyVenue,202618,"{'userID1': '202618', 'nickname1': 'bean boi',...",thanks,PartyVenue,SMC,2019-09-28 17:11:35+00:00,0.0,0

In [64]:
groups = d3.groupby(by=['session_id'])['mellon_id'].unique()

In [66]:
background = pd.read_csv('./data/Mellondemographic_Student_20200205.csv')

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (5,13,14,16,18,170) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [67]:
background.columns

Index(['student_sid', 'mellon_id', 'group_a', 'mellon_enr_dt_a', 'group_b',
       'mellon_enr_dt_b', 'birth_year', 'birth_month', 'gender', 'citizenship',
       ...
       'levelcd', 'pascd', 'tascd', 'honors', 'admitdate',
       'entry_units_completed_transfer', 'curr_units_completed_transfer',
       'current_ind', 'eff_start_dt', 'eff_end_dt'],
      dtype='object', length=180)

In [68]:
female = []
fm = []
non_int = ['wendy6', 'Ratlife2001', 'Isabella', 'juarezm', 'jennajyee', 'Santa@na2019', 'ucinetid', 'zotzot', 'C@ss3tte']
for i in d3.session_id:
    s = 0
    members = groups[i]
    for j in members:
        if j in non_int:
            continue
        g = background[background.mellon_id == int(j)]['gender'].any()
        if g == 'F':
            s += 1
    female.append(s)
    fm.append(int(s>(len(members)/2)))

In [69]:
d3['female_members'] = female
d3['female_maj'] = fm

In [70]:
d3

,session_id,mellon_id,player_id,event_result,task,Primary code,event_start_time,revise_score,high_performance,female_members,female_maj
0,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",what's up lads,PartyVenue,SMC,2019-09-28 17:11:18+00:00,0.0,0,4,1
1,7298_PartyVenue,202618,"{'userID1': '202618', 'nickname1': 'bean boi',...",hello,PartyVenue,SMC,2019-09-28 17:11:26+00:00,0.0,0,4,1
2,7298_PartyVenue,163093,"{'userID1': '202618', 'nickname1': 'bean boi',...",hi its too early for this,PartyVenue,SMC,2019-09-28 17:11:29+00:00,0.0,0,4,1
3,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",bean boi i like ur name,PartyVenue,SMC,2019-09-28 17:11:32+00:00,0.0,0,4,1
4,7298_PartyVenue,202618,"{'userID1': '202618', 'nickname1': 'bean boi',...",thanks,PartyVenue,SMC,2019-09-28 17:11:35+00:00,0.0,0,4,1
...,...,...,...,...,...,...,...,...,...,...,...
7363,7371_candidate,Isabella,"{'userID1': '187876', 'nickname1': 'Sabrina', ...",yes,candidate,SN,2019-10-03 23:18:38+00:00,0.0,0,3,1
7364,7371_candidate,180275,"{'userID1': '187876', 'nickname1': 'Sabrina', ...",I agree,candidate,SN,2019-10-03 23:18:43+00:00,0.0,0,3,1
7365,7371_candidate,Isabella,"{'userID1': '187876', 'nickname1': 'Sabrina', ...","okay, we're good to submit then ?",candidate,CE,2019-10-03 23:18:54+00:00,0.0,0,3,1
7366,7371_candidate,195466,"{'userID1': '187876', 'nickname1': 'Sabrina', ...",yes,candidate,SN,2019-10-03 23:18:55+00:00,0.0,0,3,1
7367,7371_candidate,180275,"{'userID1': '187876', 'nickname1': 'Sabrina', ...",12 min left lol,candidate,CM,2019-10-03 23:19:07+00:00,0.0,0,3,1

In [71]:
d3.mellon_id = d3.mellon_id.astype(str)
background.mellon_id = background.mellon_id.astype(str)

In [73]:
d3.merge(background[['mellon_id', 'gender', 'ethnicity', 'application_status', 'first_generation', 'urm', 'first_language']], on = 'mellon_id', how = 'left').to_csv('./data/final_final.csv')

In [74]:
d4 = pd.read_csv('./data/final_final.csv')

In [75]:
d4.head()

,Unnamed: 0,session_id,mellon_id,player_id,event_result,task,Primary code,event_start_time,revise_score,high_performance,female_members,female_maj,gender,ethnicity,application_status,first_generation,urm,first_language
0,0,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",what's up lads,PartyVenue,SMC,2019-09-28 17:11:18+00:00,0.0,0,4,1,F,Unknown / declined to state,Sophomore,0.0,0.0,English only
1,1,7298_PartyVenue,202618,"{'userID1': '202618', 'nickname1': 'bean boi',...",hello,PartyVenue,SMC,2019-09-28 17:11:26+00:00,0.0,0,4,1,F,Asian / Asian American,Freshman,1.0,0.0,Non-English
2,2,7298_PartyVenue,163093,"{'userID1': '202618', 'nickname1': 'bean boi',...",hi its too early for this,PartyVenue,SMC,2019-09-28 17:11:29+00:00,0.0,0,4,1,F,Asian / Asian American,Freshman,1.0,0.0,English/non-English
3,3,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",bean boi i like ur name,PartyVenue,SMC,2019-09-28 17:11:32+00:00,0.0,0,4,1,F,Unknown / declined to state,Sophomore,0.0,0.0,English only
4,4,7298_PartyVenue,202618,"{'userID1': '202618', 'nickname1': 'bean boi',...",thanks,PartyVenue,SMC,2019-09-28 17:11:35+00:00,0.0,0,4,1,F,Asian / Asian American,Freshman,1.0,0.0,Non-English

In [76]:
d4.groupby(['session_id'])['event_result'].apply(list)['7298_PartyVenue'][:22]

["what's up lads",
 'hello',
 'hi its too early for this',
 'bean boi i like ur name',
 'thanks',
 'also mood alice lol',
 'question when u guys were signing up on the survey do you remember reading something about getting paid',
 'what are bday party venues lmao',
 'hey!',
 'yea i think its like $50 right',
 'RIGHT? ok im not crazy',
 "they said it's a digital giftcard",
 'mbruh where do we get it tho ;w;',
 'if its digital, prob thru email?',
 'they said they would email it to us',
 'i think they give it at the end?',
 'yeah ^',
 'wait what are we doing',
 "oh shoot i think we ahead but it's coo",
 'we need bean and alice to click next and then we gotta like',
 'o',
 'cuz some ppl are still trying to log in i think']

In [77]:
d4.groupby(['session_id'])['mellon_id'].apply(list)['7298_PartyVenue']

['173442',
 '202618',
 '163093',
 '173442',
 '202618',
 '173442',
 '173442',
 '202618',
 '164591',
 '163093',
 '173442',
 '202618',
 '173442',
 '163093',
 '202618',
 '164591',
 '202618',
 '164591',
 '202618',
 '173442',
 '163093',
 '202618',
 '173442',
 '163093',
 '173442',
 '173442',
 '164591',
 '202618',
 '163093',
 '164591',
 '173442',
 '164591',
 '164591',
 '163093',
 '164591',
 '173442',
 '173442',
 '202618',
 '173442',
 '173442',
 '173442',
 '163093',
 '163093',
 '173442',
 '164591',
 '173442',
 '164591',
 '202618',
 '173442',
 '173442',
 '173442',
 '202618',
 '202618',
 '164591',
 '163093',
 '173442',
 '173442',
 '164591',
 '202618',
 '173442']

In [34]:
d4.head(30)

,Unnamed: 0,session_id,mellon_id,player_id,event_result,task,Primary code,revise_score,high_performance,female_members,female_maj,gender,ethnicity,application_status,first_generation,urm,first_language
0,0,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",what's up lads,PartyVenue,SMC,0.0,0,4,1,F,Unknown / declined to state,Sophomore,0.0,0.0,English only
1,1,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",bean boi i like ur name,PartyVenue,SMC,0.0,0,4,1,F,Unknown / declined to state,Sophomore,0.0,0.0,English only
2,2,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",also mood alice lol,PartyVenue,SMC,0.0,0,4,1,F,Unknown / declined to state,Sophomore,0.0,0.0,English only
3,3,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",question when u guys were signing up on the su...,PartyVenue,SMC,0.0,0,4,1,F,Unknown / declined to state,Sophomore,0.0,0.0,English only
4,4,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",RIGHT? ok im not crazy,PartyVenue,SMC,0.0,0,4,1,F,Unknown / declined to state,Sophomore,0.0,0.0,English only
5,5,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",mbruh where do we get it tho ;w;,PartyVenue,SMC,0.0,0,4,1,F,Unknown / declined to state,Sophomore,0.0,0.0,English only
6,6,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",we need bean and alice to click next and then ...,PartyVenue,CM,0.0,0,4,1,F,Unknown / declined to state,Sophomore,0.0,0.0,English only
7,7,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",rank birthday venues,PartyVenue,CP,0.0,0,4,1,F,Unknown / declined to state,Sophomore,0.0,0.0,English only
8,8,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",like where we want a party,PartyVenue,SSI,0.0,0,4,1,F,Unknown / declined to state,Sophomore,0.0,0.0,English only
9,9,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",oh lmao idk i think we can go ahead?,PartyVenue,SSI,0.0,0,4,1,F,Unknown / declined to state,Sophomore,0.0,0.0,English only
10,10,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",oh snap,PartyVenue,SESU,0.0,0,4,1,F,Unknown / declined to state,Sophomore,0.0,0.0,English only
11,11,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",oh lmao did we all do BAC,PartyVenue,CM,0.0,0,4,1,F,Unknown / declined to state,Sophomore,0.0,0.0,English only
12,12,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",oof,PartyVenue,SMC,0.0,0,4,1,F,Unknown / declined to state,Sophomore,0.0,0.0,English only
13,13,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",wait where's bean,PartyVenue,CM,0.0,0,4,1,F,Unknown / declined to state,Sophomore,0.0,0.0,English only
14,14,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",oh there,PartyVenue,SSI,0.0,0,4,1,F,Unknown / declined to state,Sophomore,0.0,0.0,English only
15,15,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",hi,PartyVenue,SMC,0.0,0,4,1,F,Unknown / declined to state,Sophomore,0.0,0.0,English only
16,16,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",so we're all ranking B as first then??,PartyVenue,CM,0.0,0,4,1,F,Unknown / declined to state,Sophomore,0.0,0.0,English only
17,17,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",nice,PartyVenue,SESU,0.0,0,4,1,F,Unknown / declined to state,Sophomore,0.0,0.0,English only
18,18,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",why'd you rank C over A initially,PartyVenue,SESU,0.0,0,4,1,F,Unknown / declined to state,Sophomore,0.0,0.0,English only
19,19,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",oop aight nvm,PartyVenue,SSI,0.0,0,4,1,F,Unknown / declined to state,Sophomore,0.0,0.0,English only
20,20,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",they gave us 20 min and we just nyoomed lol,PartyVenue,SMC,0.0,0,4,1,F,Unknown / declined to state,Sophomore,0.0,0.0,English only
21,21,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",it's some guy's 30th birthday party im crying,PartyVenue,SMC,0.0,0,4,1,F,Unknown / declined to state,Sophomore,0.0,0.0,English only
22,22,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",VALID,PartyVenue,SMC,0.0,0,4,1,F,Unknown / declined to state,Sophomore,0.0,0.0,English only
23,23,7298_PartyVenue,173442,"{'userID1': '202618', 'nickname1': 'bean boi',...",sndflkdf rip sorry Candy,PartyVenue,SMC,0.0,0,4,1,F,Unknown / declined to state,Sophomore,0.0,0.0,English only
24,24,7298_PartyVenue,202618,"{'userID1': '202618', 'nickname1': 'bean boi',...",hello,PartyVenue,SMC,0.0,0,4,1,F,Asian / Asian American,Freshman,1.0,0.0,Non-English
25,25,7298_PartyVenue,202618,"{'userID1': '202618', 'nickname1': 'bean boi',...",thanks,PartyVenue,SMC,0.0,0,4,1,F,Asian / Asian American,Freshman,1.0,0.0,Non-English
26,26,7298_PartyVenue,202618,"{'userID1': '202618', 'nickname1': 'bean boi',...",what are bday party venues lmao,PartyVenue,SSI,0.0,0,4,1,F,Asian / Asian American,Freshman,1.0,0.0,Non-English
27,27,7298_PartyVenue,202618,"{'userID1': '202618', 'nickname1': 'bean boi',...",they said it's a digital giftcard,PartyVenue,SMC,0.0,0,4,1,F,Asian / Asian American,Freshman,1.0,0.0,Non-English
28,28,7298_PartyVenue,202618,"{'userID1': '202618', 'nickname1': 'bean boi',...",they said they would email it to us,PartyVenue,SMC,0.0,0,4,1,F,Asian / Asian American,Freshman,1.0,0.0,Non-English
29,29,7298_PartyVenue,202618,"{'userID1': '202618', 'nickname1': 'bean boi',...",yeah ^,PartyVenue,SMC,0.0,0,4,1,F,Asian / Asian American,Freshman,1.0,0.0,Non-English